<div style="text-align: center;">
    <h1>Autotrader Data Cleaning Notebook</h1>
</div>


## This notebook processes raw data scraped from the Autotrader website, cleaning and truncating it to prepare a clean dataset ready for analysis.

---

In [14]:
# Import relevant packages
import pandas as pd
import os

---

### The raw data that was scraped from the Autotrader website is stored in csv files inside a single folder.  I want to create a list containing the file paths for each file.

In [ ]:
# Define a variable that contains the folder path
folder_path = r"C:\Users\ibaca\Boys & Girls Clubs of America\0 Templating\python\autotrader data\autotrader raw excel files"

# Innitiate an empty list to store the csv file paths
file_paths = []

# Iterate over all items in the specified folder path.
# If the item is a file, add it to the list 'folder_path'
for filename in os.listdir(folder_path):
    file_path = os.path.join(folder_path, filename)
    if os.path.isfile(file_path):
        file_paths.append(file_path)

---

### Concatenate all files together into a single DataFrame

In [16]:
# Innitiate an empty list to store the data frames
cars_dfs = []

# Read in each data frame and store it in the list
for df in file_paths:
    df = pd.read_csv(df)
    cars_dfs.append(df)

# Concatenate the data frames together
concat_df = pd.concat(cars_dfs)

# view the data frame
concat_df

,listings.id,listings.title,listings.accelerate,listings.carNow,listings.displacementUOM,listings.doors,listings.hasLeatherSeats,listings.insurifyEnabled,listings.fyusion,listings.insurancePartnerEnabled,...,listings.paymentServices.dealerSettings.availableMilesPerYear[0],listings.pricingDetail.dealerDiscountedPrice,listings.pricingDetail.discounts[0].label,listings.pricingDetail.discounts[0].value,listings.owner.contractDealerLevel,owner.contractDealerLevel,owners[0].contractDealerLevel,owner.sacaMmdId,listings.pricingDetail.reductions[0].label,listings.pricingDetail.reductions[0].value
0,712227625,Used 2012 MINI Cooper Countryman,True,False,1.6,4,False,True,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,717446059,Used 2012 FIAT 500 Lounge w/ Luxury Leather Pkg,True,False,1.4,2,True,True,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,671319685,Used 2012 BMW 128i Convertible,True,False,3.0,2,True,True,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,699930206,Used 2012 BMW 328i Convertible,True,False,3.0,2,True,True,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,712368501,Used 2012 Volvo C70 T5,True,False,2.5,2,True,True,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,719018232,Certified 2023 Cadillac Escalade Premium Luxur...,False,False,6.2,4,True,True,False,True,...,NaN,NaN,NaN,NaN,PARTNER,PARTNER,PARTNER,NaN,NaN,NaN
96,709198775,Used 2023 Cadillac Escalade Sport Platinum,True,False,6.2,4,True,False,False,False,...,NaN,NaN,NaN,NaN,PARTNER,PARTNER,PARTNER,NaN,NaN,NaN
97,714084069,Used 2023 RAM 1500 TRX w/ TRX Level 2 Equipmen...,True,False,6.2,4,True,False,False,False,...,NaN,NaN,NaN,NaN,PARTNER,PARTNER,PARTNER,NaN,NaN,NaN
98,712615978,Used 2023 Ford F250 Platinum,True,False,6.7,4,False,False,False,False,...,NaN,NaN,NaN,NaN,PARTNER,PARTNER,PARTNER,NaN,NaN,NaN
99,712733886,Used 2023 Jeep Wrangler Unlimited Rubicon 392 ...,True,False,6.4,4,True,False,False,False,...,NaN,NaN,NaN,NaN,PARTNER,PARTNER,PARTNER,NaN,NaN,NaN

---

### Cleaning the Data

In [19]:
# Sub-set only the columns of interest
df = concat_df[['listings.id',
               'listings.year',
               'listings.make.name',
               'listings.model.name',
               'listings.owner.location.address.city',
               'listings.pricingDetail.kbbFppAmount',
               'listings.pricingDetail.kbbFppDelta',
               'listings.pricingDetail.kbbFppHighAmount',
               'listings.pricingDetail.kbbFppLowAmount',
               'listings.pricingDetail.salePrice']]

# Create a dictionary of new column names
new_col_names = {'listings.id':'id',
               'listings.year':'year',
               'listings.make.name':'make',
               'listings.model.name':'model',
               'listings.owner.location.address.city':'city',
               'listings.pricingDetail.kbbFppAmount':'kbb_price',
               'listings.pricingDetail.kbbFppDelta':'kbbDelta',
               'listings.pricingDetail.kbbFppHighAmount':'kbb_high',
               'listings.pricingDetail.kbbFppLowAmount':'kbb_low',
               'listings.pricingDetail.salePrice':'price'}

# Apply new column names to df
df = df.rename(columns = new_col_names)

# view data frame with the highest value vehilces at the top
df.sort_values(by = 'kbbDelta', ascending = False)

,id,year,make,model,city,kbb_price,kbbDelta,kbb_high,kbb_low,price
128,719128262,2022,Ford,E-Transit,Roswell,60418.0,26427.0,64394.0,57604.0,33991.0
71,711852839,2023,Ford,F150,Murfreesboro,121166.0,21167.0,125095.0,117236.0,99999.0
118,714445858,2023,Lincoln,Navigator,Charlotte,91126.0,19127.0,94625.0,87626.0,71999.0
22,719132663,2023,Ford,F150,Huntsville,138936.0,18946.0,142865.0,135006.0,119990.0
14,703828767,2023,Land Rover,Defender,Asheville,110965.0,18591.0,115329.0,108482.0,92374.0
...,...,...,...,...,...,...,...,...,...,...
354,720035236,2023,Ford,F150,NaN,NaN,NaN,NaN,NaN,62984.0
362,720035240,2023,Ford,Bronco,NaN,NaN,NaN,NaN,NaN,59354.0
197,720035224,2023,Ford,F150,NaN,NaN,NaN,NaN,NaN,66567.0
219,720035251,2023,Ford,F150,NaN,NaN,NaN,NaN,NaN,75000.0
220,720035192,2023,Ford,F150,NaN,NaN,NaN,NaN,NaN,78984.0

In [5]:
# look for na values
print(df.isna().sum())

# Drop rows that dont have a price
df = df[~df['price'].isna()]

# verify that there are no NA values for the price column
print(df.isna().sum())

id              0
year            0
make            0
model           0
city         2238
kbb_price     124
kbbDelta      124
kbb_high      124
kbb_low       124
price          44
dtype: int64
id              0
year            0
make            0
model           0
city         2238
kbb_price     124
kbbDelta      124
kbb_high      124
kbb_low       124
price           0
dtype: int64

In [24]:
# group by make, model, and year, then calculate the average price for each group
df = df.groupby(by = ['make', 'model', 'year']).agg({'price':'mean'}).reset_index()

# round price to 2 places
df['price'] = round(df['price'], 2)

# view the df
df

       make   model  year     price
0     Acura     ILX  2014  13999.00
1     Acura     ILX  2015  10999.00
2     Acura     ILX  2017  18988.50
3     Acura     ILX  2018  18500.00
4     Acura     ILX  2020  25272.50
...     ...     ...   ...       ...
2601  Volvo    XC90  2020  29850.60
2602  Volvo    XC90  2021  38004.05
2603  Volvo    XC90  2022  39396.00
2604  Volvo    XC90  2023  51930.60
2605  smart  fortwo  2018  13280.50

[2606 rows x 4 columns]

In [25]:
# export df to an excel file
df.to_excel(r"C:\Users\ibaca\Boys & Girls Clubs of America\0 Templating\python\autotrader data\clean autotrader data.xlsx", index = False)